#mystrom-switch {
    position: relative;
}

#mystrom-switch .power {
    position: absolute;
    left: 105px;
    top: 214px;
}

#mystrom-switch .relay {
    position: absolute;
    left: 42px;
    bottom: 42px;

    height: 10px;
    width: 10px;
    border-radius: 50%;
}
